<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FantasyFootballForecast</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                Teams
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="players">
                Players
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fixtures">
                Fixtures
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="predictions">
                Predictions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="picks">
                Top Picks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="availability">
                Availability
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="news">
                News Feed
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="models">
                Model Status
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                Data Sync
            </NavLink>
        </div>
    </nav>
</div>
